@model WebApplication1.Models.Participant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="pull-left">
        <h4>Delete Participant</h4>
    </div>
    <div class="pull-right">
        @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-info" })
    </div>
</div>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Seminar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeminarID)
        </dd>

        <dt>
            Participant Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantName)
        </dd>

        <dt>
            Participant Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantEmail)
        </dd>

        <dt>
            Participant MobileNo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantMobileNo)
        </dd>

        <dt>
            Participant DOB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantDOB)
        </dd>

        <dt>
            Is Attended
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAttended)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />            
        </div>
    }
</div>
